Architecture: amd64
Description: Electron structure visualisation tool
Maintainer: Envision Team
Package: envision
Priority: optional
Section: science
Version: 2.1.0
Depends: qt5-default, qt5-doc, python3, libhdf5-dev, libtirpc3
